.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.25rem;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.upload-form-container {
    width: 100%;
    max-width: 500px;
    margin: 15px auto;
    background-color: #ffffff;
    padding: 0 2rem 2rem 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s ease;
}

.upload-header-container {
    display: flex;
    justify-content: center;
}

.upload-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 160px;
    height: auto;
    aspect-ratio: 4 / 5;
    background: #f8f9fa;
    border: 2px dashed #ccc;
    border-radius: 12px;
    position: relative;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    transition: border-color 0.3s ease;
}

.upload-image-container button {
    background: none;
    border: none;
    font-size: 1rem;
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.crop-container {
    position: relative;
    width: 100%;
    max-width: 160px;
    height: auto;
    aspect-ratio: 4 / 5;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: background 0.3s ease;
}

.crop-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.remove-image-button {
    position: absolute;
    top: -4px;
    right: -4px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.reactEasyCrop_CropArea {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0 0 0 9999em;
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.upload-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.upload-details-container label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

.upload-details-container label span {
    width: 140px;
    margin-right: 10px;
}

.box-label {
    font-size: 16.5px;
    min-width: 80px;
}

.upload-details-container input[type="text"],
.upload-details-container input[type="date"],
.upload-details-container input[type="number"],
.upload-details-container textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    color: #333;
    background-color: #ffffff;
    max-width: 100%; /* Ensure inputs do not exceed container width */
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.description-count {
    position: absolute;
    right: 57px;
    font-size: 13px;
    opacity: 0.55;
    margin-top: 40px;
    transition: opacity 0.3s ease;
}

.upload-details-container input[type="text"],
.upload-details-container input[type="number"] {
    max-width: 400px; /* Set a maximum width for text and number inputs */
}

.upload-details-container textarea {
    resize: none;
    max-height: 200px;
    overflow-y: auto;
}

.upload-details-container input[type="checkbox"] {
    margin-right: 10px;
}

.upload-controls-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 62px;
}

.upload-controls-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 0;
}

.upload-controls-container button#save {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}

.upload-controls-container button#save:disabled {
    background-color: #b0bec5;
    color: #fff;
    cursor: not-allowed;
    box-shadow: none;
}

.upload-controls-container button#save:hover:not(:disabled) {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 86, 179, 0.3);
}

.upload-controls-container button#cancel {
    background-color: #dc3545;
    color: #fff;
    padding: 0 0.46rem;
    box-shadow: 0 4px 6px rgba(220, 53, 69, 0.3);
}

.upload-controls-container button#cancel:hover {
    background-color: #a71d2a;
    box-shadow: 0 6px 8px rgba(167, 29, 42, 0.3);
}

.custom-dropdown {
    position: relative;
    width: 100%;
    max-width: 350px;
    font-size: 15px;
}

.dropdown-header {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    color: #333;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.dropdown-arrow {
    margin-left: 10px;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    z-index: 1000;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.dropdown-options label {
    margin: 0 !important;
}

.selected-genre {
    display: inline-flex;
    align-items: center;
    padding: 4px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 15px;
    font-size: 10px;
    position: relative;
    transition: background-color 0.3s ease;
}

.max-genres-text {
    position: absolute;
    color: #6c757d;
    font-size: 14px;
    width: 200px !important;
}

.selected-genre .remove-genre {
    width: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    font-weight: normal;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-option.selected {
    background-color: #007bff;
    color: #fff;
}

.custom-dropdown .dropdown-header span.dropdown-arrow {
    width: 5px !important;
}

.dropdown-option input[type="checkbox"] {
    margin-right: 10px;
}

.dropdown-option:hover {
    background-color: #b0bec5;
    color: #fff;
}

body.dark-mode .upload-container {
    background-color: #121212;
}

body.dark-mode .upload-form-container {
    background-color: #1c1c1c;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

body.dark-mode input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

body.dark-mode .upload-details-container label {
    color: #ededed;
}

body.dark-mode .upload-details-container input[type="text"],
body.dark-mode .upload-details-container input[type="date"],
body.dark-mode .upload-details-container input[type="number"],
body.dark-mode .upload-details-container textarea {
    background-color: #1c1c1c;
    border: 1px solid #444444;
    color: #ededed;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

body.dark-mode .upload-image-container {
    background-color: #2E2E2E;
    border-color: #444444;
    color: #B0BEC5;
    transition: border-color 0.3s ease;
}

body.dark-mode .upload-image-container button {
    color: #66b2ff;
    transition: color 0.3s ease;
}

body.dark-mode .upload-controls-container button#save {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}

body.dark-mode .upload-controls-container button#save:disabled {
    background-color: #555555;
    color: #fff;
    cursor: not-allowed;
    box-shadow: none;
}

body.dark-mode .upload-controls-container button#save:hover:not(:disabled) {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 86, 179, 0.3);
}

body.dark-mode .upload-controls-container button#cancel {
    background-color: #dc3545;
    box-shadow: 0 4px 6px rgba(220, 53, 69, 0.3);
}

body.dark-mode .upload-controls-container button#cancel:hover {
    background-color: #a71d2a;
    box-shadow: 0 6px 8px rgba(167, 29, 42, 0.3);
}

body.dark-mode .custom-dropdown .dropdown-header {
    background-color: #1c1c1c;
    border: 1px solid #3c3c3c;
    color: #ffffff;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

body.dark-mode .dropdown-options {
    background-color: #222222;
    border: 1px solid #3c3c3c;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

body.dark-mode .dropdown-option {
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .dropdown-option.selected {
    background-color: #2d89ef;
    color: #fff;
}

body.dark-mode .dropdown-option:hover {
    background-color: #007bff;
    color: #fff;
}

body.dark-mode input[type="number"]::-webkit-inner-spin-button,
body.dark-mode input[type="number"]::-webkit-outer-spin-button {
    background-color: #333 !important;
    color: #ededed !important;
}

body.dark-mode input[type="number"]::-moz-inner-spin-button,
body.dark-mode input[type="number"]::-moz-outer-spin-button {
    background-color: #333 !important;
    color: #ededed !important;
}

body.dark-mode input[type="number"]::-webkit-inner-spin-button,
    body.dark-mode input[type="number"]::-webkit-outer-spin-button {
      filter: invert(1); /* Invert color of arrows */
}

body.dark-mode input[type="number"]::-ms-inner-spin-button,
body.dark-mode input[type="number"]::-ms-outer-spin-button {
    background-color: #333 !important;
    color: #ededed !important;
}

@media (max-width: 768px) {
    .upload-form-container {
        padding: 1.5rem;
    }

    .upload-image-container {
        width: 100%;
        max-width: 150px;
        height: auto;
        aspect-ratio: 4 / 5;
    }

    .upload-details-container label span {
        width: 100px;
    }

    .custom-dropdown {
        max-width: 400px;
    }

    .dropdown-options {
        width: 100%;
        margin-left: 0;
    }

    .upload-controls-container button#cancel {
        margin-left: 1.4rem;
    }
}

@media (max-width: 480px) {
    .upload-container{
        padding: 0;
    }
    .upload-form-container {
        width: 80%;
        padding: 1rem;
    }

    .upload-details-container label span {
        width: 80px;
    }

    .upload-controls-container button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .upload-controls-container button#cancel {
        position: relative;
        right: 38px;
        margin-left: 0;
        padding: 0 8px;
    }
}

@media (max-width: 320px) {
    .upload-form-container {
        padding: 0.75rem;
    }

    .upload-details-container label span {
        width: 70px;
    }

    .upload-controls-container button {
        font-size: 0.9rem;
        padding: 6px 12px;
    }

    .upload-container input {
        font-size: 0.6rem;
        width: 100%;
        max-width: 100px !important;
    }

    .upload-controls-container button#cancel {
        margin-left: 3.3rem;
        padding: 0 6px;
    }
}